<h2>Confirmation</h2>

<div *ngIf="!!submissionForm">
    <ast-ip3-row-display
        label="Signature"
        [value]="termsForm.signature"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Role"
        [value]="contactForm.role"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Submitter name"
        [value]="contactForm.submitterName"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Submitter website"
        [value]="contactForm.submitterWebsite"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact first name"
        [value]="contactForm.firstName"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact last name"
        [value]="contactForm.lastName"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact title or position"
        [value]="contactForm.titleOrPosition"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact email"
        [value]="contactForm.email"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact phone number"
        [value]="contactForm.phoneNumber"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact country"
        [value]="country"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact state or province"
        [value]="stateOrProvince"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact city"
        [value]="contactForm.city"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Contact postal code"
        [value]="contactForm.postalCode"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Owner country"
        [value]="ownerCountry"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Owner state or province"
        [value]="ownerStateOrProvince"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Owner city"
        [value]="contactForm.ownerCity"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Owner postal code"
        [value]="contactForm.ownerPostalCode"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Is the current assignee"
        [value]="contactForm.isCurrentAssignee"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Has previously submitted"
        [value]="contactForm.hasPreviouslySubmitted"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Learn about methods"
        [value]="learnAboutMethods.join(', ')"
    ></ast-ip3-row-display>
    <ast-ip3-row-display
        label="Other learn-about method"
        [value]="contactForm.learnAboutOtherInfo"
    ></ast-ip3-row-display>
</div>

<button nz-button (click)="edit.emit()" style="margin-top: 20px">
    Edit form
</button>
