.submission-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    width: 100%;
    padding: 50px;
    border-radius: 5px;
}

.form-section {
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.form-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7px;
}

.finish-form-invalid-message {
    margin-right: 20px;
}
