<div class="submission-form">
    <h2>Patent Offer Submission</h2>

    <ast-ip3-terms-form class="form-section" (ready)="addTermsForm($event)">
    </ast-ip3-terms-form>
    <ast-ip3-contact-form class="form-section" (ready)="addContactForm($event)">
    </ast-ip3-contact-form>
</div>

<div class="form-actions">
    <div
        *ngIf="
            !submissionForm.valid &&
            (submissionForm.dirty || submissionForm.touched)
        "
        class="invalid finish-form-invalid-message"
    >
        Please make necessary corrections or additions, above.
    </div>
    <button *ngIf="true" nz-button nzType="primary" (click)="onFinishClick()">
        Finish
    </button>
</div>
