/*
 * Remove template code below
 */
:host {
    display: block;
    font-family: sans-serif;
    background-color: white;
    padding: 7px;
}

.gutter-left {
    margin-left: 9px;
}

.col-span-2 {
    grid-column: span 2;
}

main {
    padding: 0 36px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: 18px;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin: 40px 0 10px 0;
}

pre {
    padding: 9px;
    border-radius: 4px;
    background-color: black;
    color: #eee;
}

ast-ip3-confirmation-page {
    display: block;
    margin: 40px 60px;
}
