/* You can add global styles to this file, and also import other style files */

.block {
    display: block;
}

.center-text {
    text-align: center;
}

.required:after {
    content: ' *';
    color: red;
}

form {
    display: block;
    margin: 10px 140px;
    width: 100%;
    max-width: 1140px;
}

@media screen and (max-width: 1200px) {
    form {
        margin: 10px 70px;
    }
}

@media screen and (max-width: 900px) {
    form {
        margin: 10px 10px;
    }
}

.ng-invalid.ng-touched:not(form),
nz-select.ng-invalid.ng-touched .ant-select-selector {
    border: 1px solid rgb(251, 194, 196); /* red */
    background-color: rgb(251, 227, 228) !important;
}

.invalid {
    color: #8a1f11;
    font-weight: bold;
}

.row {
    display: block;
    margin-top: 14px;
}

.checkbox-label > span {
    padding-right: 0 !important;
}

.radio-group {
    margin-bottom: 24px;
}

[nz-radio] {
    display: block;
    height: 32px;
    line-height: 32px;
}

.form-section label:not([nz-radio]):not([nz-checkbox]) {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-section label[nz-checkbox] {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-section nz-checkbox-group label[nz-checkbox] {
    display: block;
    font-weight: normal;
    margin-right: 0;
}

.form-section nz-checkbox-group label[nz-checkbox] .ant-checkbox-inner {
    display: inline-block;
}

.section-header {
    margin-top: 38px;
    margin-bottom: 24px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.flex-row-box {
    flex: 1;
}

.flex-row-spacer {
    width: 48px;
}

.mt-5 {
    margin-top: 5px;
}

.long-input {
    width: 75%;
}
