<form [formGroup]="contactForm">
    <div class="row radio-group">
        <label class="required"
            >Are you the patent owner or broker/intermediary?</label
        >
        <nz-radio-group formControlName="role">
            <label nz-radio nzValue="Owner">Patent Owner</label>
            <label nz-radio nzValue="Broker">Broker/Intermediary</label>
        </nz-radio-group>
    </div>

    <div class="row">
        <label class="required">
            {{
                isForOwner
                    ? 'Patent owner’s name (company/entity or individual(s) who is the current owner/assignee of the patent)'
                    : 'Broker/Intermediary’s name (company/individual)'
            }}
        </label>
        <input nz-input formControlName="submitterName" class="long-input" />
    </div>

    <div class="row">
        <label>
            {{
                isForOwner
                    ? 'Patent owner’s website (if any)'
                    : 'Broker/Intermediary’s website (if any)'
            }}
        </label>
        <input nz-input formControlName="submitterWebsite" class="long-input" />
    </div>

    <div class="section-header">
        <h2>Contact Information</h2>
    </div>

    <div class="flex-row">
        <div class="flex-row-box">
            <label class="required">First Name</label>
            <input nz-input formControlName="firstName" />
        </div>
        <div class="flex-row-spacer"></div>
        <div class="flex-row-box">
            <label class="required">Last Name</label>
            <input nz-input formControlName="lastName" />
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-row-box">
            <label>Title/Position</label>
            <input nz-input formControlName="titleOrPosition" />
        </div>
        <div class="flex-row-spacer"></div>
        <div class="flex-row-box"></div>
    </div>

    <div class="flex-row">
        <div class="flex-row-box">
            <label class="required">Email</label>
            <input nz-input formControlName="email" />
            <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="invalid"
            >
                <div *ngIf="email.errors?.email">
                    Please enter a valid email address.
                </div>
            </div>
        </div>
        <div class="flex-row-spacer"></div>
        <div class="flex-row-box">
            <label class="required">Phone Number</label>
            <input nz-input formControlName="phoneNumber" />
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-row-box">
            <label class="required">Country</label>
            <ast-ip3-country-select (ready)="addCountryControl($event)">
            </ast-ip3-country-select>
        </div>
        <div class="flex-row-spacer"></div>
        <div class="flex-row-box">
            <label>State/Province</label>
            <ast-ip3-state-select
                [hidden]="!isCountryUS"
                (ready)="addStateControl($event)"
            >
            </ast-ip3-state-select>
            <input
                [hidden]="isCountryUS"
                nz-input
                formControlName="stateOrProvince"
            />
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-row-box">
            <label class="required">City</label>
            <input nz-input formControlName="city" />
        </div>
        <div class="flex-row-spacer"></div>
        <div class="flex-row-box">
            <label class="required">Zip Code/Postal Code</label>
            <input nz-input formControlName="postalCode" />
        </div>
    </div>

    <div [hidden]="isForOwner">
        <div class="row">
            <label class="required">
                Patent owner’s name (company/entity or individual(s) who is the
                current owner/assignee of the patent)
            </label>
            <input
                nz-input
                formControlName="submitterName"
                class="long-input"
            />
        </div>

        <div class="row">
            <label>Patent owner’s website (if any)</label>
            <input
                nz-input
                formControlName="submitterWebsite"
                class="long-input"
            />
        </div>

        <div class="row">
            <label>Patent owner's address</label>
            <div class="flex-row">
                <div class="flex-row-box">
                    <label class="required">Country</label>
                    <ast-ip3-country-select
                        (ready)="addOwnerCountryControl($event)"
                    >
                    </ast-ip3-country-select>
                </div>
                <div class="flex-row-spacer"></div>
                <div class="flex-row-box">
                    <label>State/Province</label>
                    <ast-ip3-state-select
                        [hidden]="!isOwnerCountryUS"
                        (ready)="addOwnerStateControl($event)"
                    >
                    </ast-ip3-state-select>
                    <input
                        [hidden]="isOwnerCountryUS"
                        nz-input
                        formControlName="ownerStateOrProvince"
                    />
                </div>
            </div>

            <div class="flex-row">
                <div class="flex-row-box">
                    <label class="required">City</label>
                    <input nz-input formControlName="ownerCity" />
                </div>
                <div class="flex-row-spacer"></div>
                <div class="flex-row-box">
                    <label class="required">Zip Code/Postal Code</label>
                    <input nz-input formControlName="ownerPostalCode" />
                </div>
            </div>
        </div>
    </div>

    <div class="row radio-group">
        <label class="required"
            >Is the assignee/owner of the patent(s) the current assignee on the
            Patent Office records?</label
        >
        <nz-radio-group formControlName="isCurrentAssignee">
            <label nz-radio [nzValue]="true">Yes</label>
            <label nz-radio [nzValue]="false">No</label>
        </nz-radio-group>
    </div>

    <div class="row" [hidden]="contactForm.value.isCurrentAssignee">
        <label class="required">Please clarify:</label>
        <textarea
            rows="3"
            nz-input
            formControlName="notAssigneeExplanation"
            class="long-input"
        >
        </textarea>
    </div>

    <div class="row radio-group">
        <label>Have you previously submitted patents for sale to AST?</label>
        <nz-radio-group formControlName="hasPreviouslySubmitted">
            <label nz-radio [nzValue]="true">Yes</label>
            <label nz-radio [nzValue]="false">No</label>
        </nz-radio-group>
    </div>

    <div class="row">
        <label>How did you learn about AST’s IP3 2021?</label>
        <nz-checkbox-group
            formControlName="learnAboutMethods"
        ></nz-checkbox-group>
    </div>

    <div class="row" [hidden]="!isOtherLearnAboutChecked">
        <label>Please give more information</label>
        <input
            nz-input
            formControlName="learnAboutOtherInfo"
            class="long-input"
        />
    </div>
</form>
