<form [formGroup]="termsForm">
    <div class="row">
        <span class="required"></span> Indicates field is required.
    </div>

    <div class="row center-text">
        <h3>Legal Notice-IP3 2021 Terms and Conditions</h3>
    </div>

    Please Read These Terms Carefully Before Proceeding.

    <div class="row">
        <ol class="ip3-terms-conditions">
            <li>
                By making a patent offer submission through this form (the “Submission”),
                you and your affiliates (“You,” “Your”) would like IP3 2020, Series 500 of
                Allied Security Trust I (“AST,” “We,” “Us,” or “Our”) to evaluate the
                Submission for a potential patent transaction with You. In exchange for
                Our evaluation of the Submission, You agree to the terms and conditions
                herein.
            </li>
            <li>
                You represent that You are the sole owner of any patents identified in the
                Submission, or otherwise are properly authorized by the owner(s) of such
                patents to make the Submission. You acknowledge that, at a minimum,
                damages for the breach of this paragraph include the amount of any payment
                made with respect to the alleged purchase of patents that are the subject
                of Your Submission as well as any legal fees, costs, or expenses expended
                by Us in establishing the breach by You of this paragraph.
            </li>
            <li>
                We agree to take reasonable steps to keep Your Submission and
                Submission-related Materials confidential, provided that We may disclose
                Your Submission and Submission-related Materials to those companies that
                participate in acquiring patents through IP3 (each a “Participator”) as
                well as any parties We engage to help evaluate such submissions. You
                acknowledge, however, that should We purchase any patent assets from You,
                We will record any such purchases, including with relevant Patent Offices,
                in Our normal course of business. The confidential information may only be
                used for the purpose of evaluating Your Submission for a potential patent
                transaction with You and may not be used to support a declaratory or other
                legal relief action related to the sharing of that confidential
                information.
            </li>
            <li>
                The Submission-related Materials and any related discussions shall not
                constitute notice or knowledge of any patent or claim of patent
                infringement to Us or any Participator. You agree that You will not use,
                and waive the right to use, the Submission or any Submission-related
                Materials as evidence in any judicial, administrative, or other proceeding
                to establish or to refer to any such notice or knowledge, including
                without limitation in connection with establishing any claim of willful
                infringement, of indirect infringement, or for damages in connection with
                any claim of patent infringement. You agree that any transfer by You of
                patent assets that are part of the Submission (“Submitted Patents”) will
                be subject to the provisions of this paragraph with respect to all
                subsequent owners or exclusive licensees.
            </li>
            <li>
                You agree to take reasonable precautions to maintain active the Submitted
                Patents that are active at the time of Your Submission, and to pay the
                maintenance fees, annuities, and the like of the Submitted Patents for
                which the window period opened before You make Your Submission, or during
                the period of time from when You make Your Submission until the Effective
                Date of an executed Patent Assignment Agreement.
            </li>
            <li>
                You agree that You will not sell, transfer, or otherwise encumber any
                Submitted Patents during the period of time from September 21, 2020 until
                September 29, 2020 (“the Exclusivity Period”). If during the Exclusivity
                Period, We contact You with a tentative notice to move forward with a
                transaction (“Tentative Notice”), You will similarly not sell, transfer,
                or otherwise encumber any Submitted Patents after September 29, 2020,
                while working to complete the transaction. This agreement with You
                terminates at the end of the Exclusivity Period if You are not provided a
                Tentative Notice by September 29, 2020. Upon Termination, the provisions
                of Paragraph Nos. 3 and 4 above shall survive this agreement through the
                expiration of any Submitted Patents.
            </li>
            <li>
                You agree to contact Us if any Submitted Patents are sold, transferred or
                encumbered prior to the Exclusivity Period (during the period of time from
                when You make Your Submission until September 20, 2020).
            </li>
            <li>
                If during the Exclusivity Period, We contact You with the intent to
                purchase Your Submitted Patents for the dollar amount You indicate on the
                Submission page, You agree that You will sell Us the Submitted Patents
                under the form Patent Assignment Agreement, available for reference and
                download at <a target="_blank" href="https://ast.com/ip3">ast.com/ip3</a>,
                for that amount with no additional consideration beyond such amount
                required by Us. You acknowledge that there will be no negotiation on
                price, such that if We intend to acquire the Submitted Patents, the price
                will be the amount You indicated on the Submission page with no subsequent
                negotiation. Such purchase contemplates the full and complete transfer of
                all right, title, and interest in and to the Submitted Patents by You to
                Us. You represent that You can sell Us the Submitted Patents under the
                terms of the Patent Assignment Agreement and that You will be bound to
                such terms. You agree to provide Us with banking information as well as
                necessary tax forms (e.g., IRS Form W-9 or IRS Form W-8BEN-E, as
                appropriate) within ten calendar days of being notified by Us of Our
                intent to purchase.
            </li>
            <li>
                You acknowledge and agree that each Submission will constitute one or
                multiple complete patent families and must include all worldwide members
                of the family. Each patent family must have at least one active granted
                patent in the US, China, Europe, France, Germany, Japan, Taiwan, the
                Republic of Korea or the United Kingdom. The fixed price offer is for the
                patent(s) listed in Your Submission and its/their entire patent family
                which includes all patent applications (including pending, expired, and
                abandoned patent applications) and all granted patents (including active,
                lapsed, withdrawn, and expired patents) related directly or indirectly to
                a priority filing (INPADOC extended patent family - <a target="_blank"
                href="https://www.epo.org/searching-for-patents/helpful-resources/first-time-here/patent-families/inpadoc.html">EPO
                definition</a>) and includes priorities, continuations, continuations in
                part, divisionals and foreign counterparts. You may make multiple
                Submissions, but each Submission will only contain related patents. If You
                submit any patents subject to a terminal disclaimer or have patents
                terminally disclaimed from it, You acknowledge that any such Submitted
                Patents include any and all such patents linked by a terminal disclaimer
                including terminally disclaimed patents and must, if We elect to purchase
                the Submitted Patents, be included, for no additional amount, in the
                purchase price.
            </li>
            <li>
                You acknowledge that We are not obligated to enter into any business
                transaction as a result of the Submission and You do not acquire any
                intellectual property rights under this agreement. This agreement does not
                create any agency or partnership relationship. This agreement is not
                assignable or transferable by either party without the prior written
                consent of the other party. This agreement is the parties’ entire
                agreement related to the Submission-related Materials, superseding any
                prior or contemporaneous agreements. Any amendments must be in writing
                signed by both parties. Failure to enforce any provision of this agreement
                will not constitute a waiver. This agreement is governed by the laws of
                the State of Delaware, excluding its conflict-of-laws principles.
            </li>
            <li>
                If We do not purchase Your Submitted Patents, then We will invite You to
                provide the list of the Submitted Patents and all Submission-related
                Materials to AST on a non-exclusive basis for evaluation of interest in an
                acquisition by AST or another Series of AST, pursuant to AST’s standard
                acquisition procedures. Any subsequent acquisition by AST or another
                Series of AST would be pursuant to a subsequently negotiated agreement
                with AST or another Series of AST.
            </li>
            <li>
                Definitions. “Submission-related Materials” shall mean (i) the Submission,
                (ii) any preceding or subsequent submissions, correspondence, negotiations
                or discussion between You and Us related to the Submission prior to
                Termination, and (iii) Our independent review of information related to
                the Submission.
            </li>
        </ol>

        <label nz-checkbox formControlName="termsAccepted" class="required">
            I accept the Terms and Conditions.
        </label>
        <label class="block">
            <span
                class="required">Please indicate your acceptance by signing your name.</span>
            <input class="signature-input" nz-input nzSize="small"
                formControlName="signature"/>
        </label>
    </div>
</form>
